<div class="page-content">
    <div class="top-nav">
        <app-header></app-header>
    </div>
    <div class="main-page">
        <div class="page-container mt-5" id="page-content">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-12 offset-md-4">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25">
                                        <img src="../../assets/images/manager-avatar.jpg" class="img-radius" alt="User-Profile-Image">
                                    </div>
                                    <h6 class="f-w-600">Mahesh P</h6>
                                    <p>Mean Stack Developer</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Full Name</p>
                                            <h6 class="text-muted f-w-400">Mahesh Pachapalam</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">User Name</p>
                                            <h6 class="text-muted f-w-400">maheshpcse</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <h6 class="text-muted f-w-400">maheshmahi1599@gmail.com</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Phone</p>
                                            <h6 class="text-muted f-w-400">8886197968</h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Work</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Designation</p>
                                            <h6 class="text-muted f-w-400">Software Developer</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Department</p>
                                            <h6 class="text-muted f-w-400">IT/Software</h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Address</h6>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="m-b-10 f-w-600">City</p>
                                            <h6 class="text-muted f-w-400">Visakhapatnam</h6>
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="m-b-10 f-w-600">State</p>
                                            <h6 class="text-muted f-w-400">Andhra Pradesh</h6>
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="m-b-10 f-w-600">County</p>
                                            <h6 class="text-muted f-w-400">India</h6>
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="m-b-10 f-w-600">Zipcode</p>
                                            <h6 class="text-muted f-w-400">530002</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
